:root {
  --spacer-xxs: 0.1975308642em;
  --spacer-xs: 0.2962962963em;
  --spacer-sm: 0.4444444444em;
  --spacer-md: 0.6666666667em;
  --spacer-base: 1em;
  --spacer-lg: 1.5em;
  --spacer-xl: 2.25em;
  --spacer-xxl: 3.375em;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("/assets/fonts/montserrat-400-normal.woff2") format("woff2"), url("/assets/fonts/montserrat-400-normal.woff") format("woff");
}
body {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
}

.nav-item {
  list-style: none;
  display: inline-block;
  padding: 0.4444444444em;
  color: #144955;
  border-bottom: 2px solid transparent;
}
.nav-item__link {
  font-size: 1em;
  text-decoration: none;
  color: inherit;
}
.nav-item:hover {
  color: #a21e0f;
  text-decoration: underline;
}

.nav-burger {
  width: 30px;
}
.nav-burger__icon-wrapper {
  height: 22px;
}
.nav-burger__icon {
  position: absolute;
  width: 30px;
  height: 2px;
  background: #144955;
}
.nav-burger__icon::before {
  content: "";
  top: 10px;
  position: absolute;
  width: 30px;
  height: 2px;
  background: #144955;
  border-radius: 20px;
}
.nav-burger__icon::after {
  content: "";
  top: 20px;
  position: absolute;
  width: 30px;
  height: 2px;
  background: #144955;
  border-radius: 20px;
}
.nav-burger__icon--open {
  background: transparent;
}
.nav-burger__icon--open::after {
  top: 10px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.nav-burger__icon--open:before {
  -webkit-transition: -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.nav-burger__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  color: #144955;
  font-size: 0.6666666667em;
  font-weight: 400;
}

.header {
  background-color: #a21e0f;
  color: white;
  width: 100%;
  padding: 0.4444444444em;
  margin: 0px;
}

.content {
  padding-left: 3.375em;
  padding-right: 3.375em;
  padding-bottom: 3em;
}

.navbar {
  background: #f8f9fa;
  display: grid;
  grid-template-columns: 5% 35% 20% 20% 20%;
  border-bottom: 1px solid #ebebeb;
  /** OPEN  **/
}
.navbar .nav-burger {
  padding-left: 0.4444444444em;
  padding-right: 0.4444444444em;
  grid-column: 1;
  align-self: center;
}
.navbar__navitems {
  display: none;
}
.navbar__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-column: 3;
}
.navbar__center img {
  width: 6.75em;
  padding: 0.4444444444em;
}
.navbar--open .navbar__navitems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  align-self: center;
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 6;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.navbar--open .navbar__navitems .nav-item {
  border-top: 1px solid #ebebeb;
  font-size: 1.5em;
}
@media (min-width: 900px) {
  .navbar--open .navbar__navitems {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 1;
  }
  .navbar--open .navbar__navitems .nav-item {
    border-top: none;
    font-size: 1em;
  }
}
.navbar--open .navbar__center {
  grid-column: 3;
}
@media (min-width: 900px) {
  .navbar--open .navbar__center {
    grid-column: 4;
  }
}

.welcome-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: red;
  min-height: 60%;
}
.welcome-screen__left, .welcome-screen__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.welcome-screen__left {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  background: #a21e0f;
  padding: 1em;
}
.welcome-screen__right {
  background: white;
}
.welcome-screen__right img {
  max-width: 40%;
}

footer {
  width: 100%;
  background: #f8f9fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 0.4444444444em;
  margin-top: auto;
  position: fixed;
  bottom: 0;
  left: 0;
}
footer .footer__navs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.6666666667em;
}

@media (min-width: 900px) {
  footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-bottom: 0px;
  }
  footer .footer__navs, footer .footer__copyright {
    width: 50%;
  }
}
.home-screen {
  min-height: 100%;
}

.home-screen {
  min-height: 100%;
}
