//$global-link-color: #DA7D02;
@import "../node_modules/uikit/src/scss/variables-theme.scss";
@import "../node_modules/uikit/src/scss/mixins-theme.scss";

// 3. Your custom mixin overwrites.
//@mixin hook-card() { color: #000; }

@import "../node_modules/uikit/src/scss/uikit-theme.scss";

main .form-content {
  height: 0.5px;
  padding: 0px;
  margin: 0px;
  border: 0px;
}
