{% import "src/fragments/navigation.njk" as navigation %}
<html>
    {% include "src/fragments/header.html" %}
</html>
<body>
    {{ navigation.navbar('Anfahrt') }}
    {{ navigation.footer() }}
    {% include "src/fragments/scripts.html" %}
</body>


