{% import "src/fragments/navigation.njk" as navigation %}
<html>
    {% include "src/fragments/header.html" %}
</html>
<body>
    {{ navigation.navbar('Fragen') }}
    <main>
        <h1>Fragen</h1>
    </main>
    {{ navigation.footer() }}
    {% include "src/fragments/scripts.html" %}
</body>


