{% import "src/fragments/navigation.njk" as navigation %}
{% import "src/fragments/subpage-header.njk" as subPageHeader %}
<html>
    {% include "src/fragments/header.html" %}
</html>
<body>
    {{ navigation.navbar() }}
    {{ subPageHeader.header('Impressum!!') }}
    <script src="/assets/bundle.js"></script>
    <script src="/assets/app-bundle.js"></script>
    {{ navigation.footer('Impressum') }}
</body>


