<html>
    {% include "src/fragments/header.html" %}
</html>
<body>
    {% import "src/fragments/subpage-header.njk" as subPageHeader %}
    {{ subPageHeader.header('Index') }}
    <script src="/assets/bundle.js"></script>
    <script src="/assets/app-bundle.js"></script>
</body>


