{% import "src/fragments/navigation.njk" as navigation %}
<html>
    {% include "src/fragments/header.html" %}
</html>
<body>
    {{ navigation.navbar('Home') }}
    <script src="/assets/bundle.js"></script>
    <script src="/assets/app-bundle.js"></script>
    {{ navigation.footer() }}
</body>


