{% import "src/fragments/navigation.njk" as navigation %}
{% import "src/fragments/scripts.njk" as scripts %}
<html>
    {% include "src/fragments/header.html" %}
</html>
<body>
    {{ navigation.navbar('Neuigkeiten') }}
    {{ navigation.footer() }}
    {{ scripts.scripts() }}
</body>


