{% import "src/fragments/navigation.njk" as navigation %}
{% import "src/fragments/team-member.njk" as teamMember %}
<html>
{% include "src/fragments/header.html" %}

<body>
{{ navigation.navbar('Team') }}

<div class="container">
    <h1>Team</h1>
    {{ teamMember.teamMember(
        '/assets/team/alina.jpg',
        'Alina Krähahn',
        'Logopädin Bachelor of Health and Communications',
        '../content/cv-alina-kraehahn.md'
    ) }}

    {{ teamMember.teamMember(
        '/assets/team/schaefer.jpg',
        'R. Schäfer',
        'Sprachtherapeutin Diplom',
        '../content/cv-r-schaefer.md'
    ) }}

    {{ teamMember.teamMember(
        '/assets/team/monika.jpg',
        'Monika Mayer',
        'Sekretariat und Anmeldung',
        '../content/cv-monika.md'
    ) }}

    {{ teamMember.teamMember(
        '/assets/team/sookie.jpg',
        'Sookie',
        'Unser Therapiebegleithund',
        ''

    ) }}


</div>
{{ navigation.footer() }}
{% include "src/fragments/scripts.html" %}
<script src="/assets/team.js"></script>
</body>
</html>