{% import "src/fragments/navigation.njk" as navigation %}
<html>
{% include "src/fragments/header.html" %}

</html>

<body>
    {{ navigation.navbar('TiergestuetzteTherapie') }}
    <main>
        {% markdown %}
        {% include './content/tiergestuetzte-therapie.md' %}
        {% endmarkdown %}
    </main>
    {{ navigation.footer() }}
    {% include "src/fragments/scripts.html" %}
</body>