@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.css";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.navigationbar {
  width: 100%;
  background-color: #0082e6;
  height: 80px;

  &__logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }

  &__nav {
    float: right;
    margin-right: 20px;
  }

  &__item {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }

  &__link {
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
    &--active,
    &:hover {
      background: #1b9bff;
      transition: 0.5s;
    }
  }
}
