{% macro navbar(activeRoute = '') %}
<nav class="navbar">
    <div class="nav-burger">
        <div class="nav-burger__icon-wrapper ">
            <div class="nav-burger__icon"></div>
        </div><span class="nav-burger__title">Menü</span>
    </div>
    <div class="navbar__navitems navbar__navitems--hidden">
        <li class="nav-item {{ "nav-item--active" if activeRoute == "Home" }}"><a class="nav-item__link" href="/">Home</a></li>
        <li class="nav-item {{ "nav-item--active" if activeRoute == "Neuigkeiten" }}"><a class="nav-item__link" href="/neuigkeiten">Neuigkeiten</a></li>
        <li class="nav-item {{ "nav-item--active" if activeRoute == "Team" }}"><a class="nav-item__link" href="/team">Team</a></li>
        <li class="nav-item {{ "nav-item--active" if activeRoute == "TiergestuetzteTherapie" }}"><a class="nav-item__link" href="/tiergestuetzte-therapie">Tiergestützte Therapie</a></li>
        <li class="nav-item {{ "nav-item--active" if activeRoute == "Anfahrt" }}"><a class="nav-item__link" href="/anfahrt">Anfahrt</a></li>
        <li class="nav-item {{ "nav-item--active" if activeRoute == "Kontakt" }}"><a class="nav-item__link" href="/kontakt">Kontakt</a></li>
    </div>
    <div class="navbar__center"><img src="/assets/logo.svg" /></div>
</nav>
{% endmacro %}


{% macro footer(activeRoute = '') %}
<footer>
    <div class="footer__navs">
        <li class="nav-item {{ "nav-item--active" if activeRoute == "Impressum" }}"><a class="nav-item__link" href="/impressum">Impressum</a></li>
        <li class="nav-item {{ "nav-item--active" if activeRoute == "Datenschutz" }}"><a class="nav-item__link" href="/datenschutz">Datenschutz</a></li>
        <li class="nav-item {{ "nav-item--active" if activeRoute == "CookieEinstellungen" }}"><a class="nav-item__link" href="/cookie-einstellungen">Cookie-Einstellungen</a></li>
    </div>
    <div class="footer__copyright">@ 2021 Copyright: mundart-sprachtherapie.de</div>
</footer>
{% endmacro %}